anonymous_enable={{ vsftpd_anonymous_enable }}
#
# anon_root={{ vsftpd_share_path }}
anon_umask=0000
ftpd_banner={{ vsftpd_banner }}
local_enable=YES
write_enable=YES
local_umask={{ vsftpd_local_umask }}
anon_upload_enable=YES
#anon_upload_mkdir_enable='YES'
file_open_mode=0777
chown_uploads=YES
chown_username=ftp
chown_upload_mode=0666
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
xferlog_std_format=YES
listen=NO
listen_ipv6=YES
download_enable=YES

pam_service_name=vsftpd
userlist_enable=YES
tcp_wrappers=YES
